        body {
        background-color: rgb(255, 255, 255);
        font-family: 'Ubuntu Mono','Franklin Gothic Light', sans-serif;
        margin: 0;
        }
        header {
        background-color: rgb(228, 232, 216);
        margin: 0;
        padding: 1em 1em 1em 1em;
        text-align: center;
        font-size: larger;
        text-shadow: 2px 2px 2px rgb(104, 148, 125);
        text-decoration: dashed;
        }
        header img {
        width: 100px;
        height: 100px;
        }
        h1 {
        font-family: 'Architects Daughter', sans-serif;
        font-weight: bolder;
        }
        h2 {
        font-family: 'Architects Daughter', sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        }
        p {
        font-family: 'Ubuntu Mono', 'Gill Sans', sans-serif;
        font-weight: bold;
        clear: both;
        }
        img {
        max-width: 100%;
        max-height: 100%;
        }
        footer {
        align-items: center;
        text-align: center;
        clear: both;
        }
        footer img {
        width: 40px;
        height: 40px;
        margin-left: .5em;
        margin-right: .5em;
        } 
        ul {
        list-style: none;
        }
        li {
        margin: 5px 0;
        padding: 10px;
        display: inline;
        }
        .nav {
        margin: 0;
        padding: 0.5em 1em 0.5em 1em;
        text-align: center;
        background-color: black;
        position: sticky;
        top:0;
        font-size: large;
        }
        a{
        text-decoration: none;
        color: white;
        }
        a:hover {
        color: rgb(155, 218, 197);
        }
        .banner {
        transition: 0.2ms;
        text-align: center;
        position: relative;
        }
        .texthead {
        position: absolute;
        font-family: 'Architects Daughter', sans-serif;
        font-weight: bold;
        bottom: 10px;
        left: 16px;
        font-size: 50px;
        color: aliceblue;
        max-width: 100%;
        }
        .welcomemsg {
        text-align: center;
        font-size: x-large;
        padding-top: 1em;
        }
        .ban {
        position: relative;
        }
        hr {
        margin-left: 10%;
        margin-right: 10%;
        clear: both;
        }
        .about {
        text-align: center;
        font-size: 20px;
        }
        .image {
        width: 50%; 
        display: block; 
        margin-left:auto; 
        margin-right: auto; 
        text-align: center;
        margin-top: 5%;
        }
        .image2 {
        width: 30%; 
        display: block; 
        margin-left: 13%; 
        margin-right: auto; 
        text-align: center;
        margin-top: 0;
        padding-top: 80px;
        float: left;
        margin-bottom: 5%;
        }
