body {
  font-family: 'Franklin Gothic Light', sans-serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #e8e0bc url(images/blackgoose.png) no-repeat center 100px fixed;

}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background: 
    url(images/gooseshadow.png) 90% bottom no-repeat;
  background-color: rgba(255,255,255,.5);
  border-radius: 20px;
}
a {
  text-decoration: none;
}
a:link {
  color: #008080;
}
a:visited {
  color: #6eb9b9;
}
a:focus, a:hover {
  color:#b94e48;
  background-color: #fff;
  transition: 0.2s;
}
a:active {
  color: #00ced1 ;
  background-color: #fff;
}
h1 {
  font: bold 2em 'Marko One', serif;
  text-shadow: .1em .1em .2em rgba(90, 104, 104, 0.483);
  color: #008080;
  font-variant: small-caps;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #800000
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  display: inline-block;
}
nav {
  text-align: center;
}
li {
  display: inline-flex;
  margin: 0;
  padding: 1em;
  font-size: large;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
